[submodule "LiDAR_Point_Cloud_Segmentation/pointnet/Pointnet_Pointnet2_pytorch"]
	path = LiDAR_Point_Cloud_Segmentation/pointnet/Pointnet_Pointnet2_pytorch
	url = https://github.com/yanx27/Pointnet_Pointnet2_pytorch.git
[submodule "LiDAR_Point_Cloud_Segmentation/pointnet/pointnet3"]
	path = LiDAR_Point_Cloud_Segmentation/pointnet/pointnet3
	url = https://github.com/halimacc/pointnet3
[submodule "LiDAR_Point_Cloud_Segmentation/pointnet/pointnet.pytorch"]
	path = LiDAR_Point_Cloud_Segmentation/pointnet/pointnet.pytorch
	url = https://github.com/fxia22/pointnet.pytorch.git
[submodule "LiDAR_Point_Cloud_Segmentation/pointnet/pointnet"]
	path = LiDAR_Point_Cloud_Segmentation/pointnet/pointnet
	url = https://github.com/charlesq34/pointnet
[submodule "LiDAR_Point_Cloud_Segmentation/pointnet/pointnet2"]
	path = LiDAR_Point_Cloud_Segmentation/pointnet/pointnet2
	url = https://github.com/charlesq34/pointnet2
[submodule "2020/semantic_segmentation/segment-correction-net"]
	path = 2020/semantic_segmentation/segment-correction-net
	url = https://github.com/mostafa-saad/segment-correction-net.git
